body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Times New Roman', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    margin: 12px;

}
